.dish {
    padding: 12px;

    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
}

.dish__wrapper {
    height: 100%;

    display: flex;
    align-items: center;
}

.dish__img {
    & img {
        width: 100%;
        height: auto;
    }
}

.dish__size:hover {
    cursor: pointer;
}

.dish__size_activ {
    text-decoration-line: underline;
    font-weight: bold;

    color: red;
}

.dish__count {
    width: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}