.footer {
    height: 200px;

    margin-top: 20px;

    background-color: cornflowerblue;
}

.footer__container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}