.footer {
    height: 200px;

    margin-top: 56px;

    background-color: #212529;
    
    color: white;
}

.footer__container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}